<head>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="dashboard-container">

    <h1>📊 Analytics Dashboard</h1>

    <div class="cards">

        <div class="card">
            <h3>Total Roadmaps</h3>
            <p>{{ total_roadmaps }}</p>
        </div>

        <div class="card">
            <h3>Popular Career Goal</h3>
            <p>{{ popular_goal[0] }}</p>
        </div>

        <div class="card">
            <h3>Completed Courses</h3>
            <p>{{ completed }}</p>
        </div>

        <div class="card">
            <h3>Pending Courses</h3>
            <p>{{ pending }}</p>
        </div>

    </div>

</div>