<!DOCTYPE html>
<html>

<head>
    <title>Learning Recommendation System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="landing-body">
    <nav class="landing-nav">

    <h2>🚀 LearnAI</h2>

    <div>
        <a href="/login" class="nav-btn">Login</a>
        <a href="/register" >
            <button class="nav-btn signup-btn">Get Started-></button>
        </a>
    </div>

</nav>

<div class="hero">

<h1>
    Learn Smarter.
    <br>
    Achieve Faster.
</h1>

<p>
    Upload your resume, discover skill gaps,
    and receive a personalized roadmap
    toward your dream career.
</p>


</div>

<div class="features">

    <div class="feature-card">
        <h2>🎯 Career Guidance</h2>
        <p>
            Personalized learning paths based on
            your career goals.
        </p>
    </div>

    <div class="feature-card">
        <h2>📚 Smart Recommendations</h2>
        <p>
            Get courses tailored to your skills
            and learning needs.
        </p>
    </div>

    <div class="feature-card">
        <h2>📊 Progress Tracking</h2>
        <p>
            Monitor completed courses and
            learning achievements.
        </p>
    </div>

</div>
<div class="stats">

    <div>
        <h2>100+</h2>
        <p>Courses</p>
    </div>

    <div>
        <h2>5+</h2>
        <p>Career Paths</p>
    </div>

    <div>
        <h2>100%</h2>
        <p>Personalized Learning</p>
    </div>

</div>
</body>
<footer class="landing-footer">
    <p>© 2026 LearnAI | Personalized Learning Recommendation System</p>
</footer>
</html>