<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>🔐 Student Login</h1>

        <form method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button
                type="submit"
                class="auth-btn">

                Login

            </button>

        </form>

        <p>
            Don't have an account?

            <a href="/register">
                Register
            </a>
        </p>

    </div>

</div>

</body>
</html>