<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

<div class="auth-container">
    <a href="/" class="back-home">
        ← Back to Home
    </a>
    <div class="auth-card">

        <h1>🚀 Create Account</h1>

        <form method="POST">

            <label>Name</label>

            <input
                type="text"
                name="student_name"
                placeholder="Enter Name"
                required>

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <label>Password</label>

            <input
                type="password"
                name="password"
                minlength="8"
                placeholder="Enter Password"
                required>
            <label>
                <small>
                    Password should contain at least 8 characters.
                </small>
            </label>
            <label>Career Goal</label>

            <select name="career_goal" required>
                <option value="">Select Career Goal</option>
                <option>Data Analyst</option>
                <option>Data Scientist</option>
                <option>Software Developer</option>
                <option>Machine Learning Engineer</option>
                <option>Business Analyst</option>
            </select>
                   {% if error %}
<p class="error-message">
    {{ error }}
</p>
{% endif %}
            <button
                type="submit"
                class="auth-btn">

                Register

            </button>

        </form>

        <div class="auth-footer">
                Already have an account?
                    <a href="/login">
                        Login here
                    </a>
        </div>

    </div>

</div>

</body>
</html>